

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    
}

.preview_header{
    font-size: 7px;
    height: 20px;
    background-color: rgb(164, 168, 156);
    z-index: 1;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
@media screen and (max-width:768px){
  .para{
    display: none;
  }
  h3.heading{
    font-size: 10px;
  }
  .carousel-caption{
    width: 180px;
    height: 38px;
    box-sizing: border-box;
    padding-top: 14px;
  }
}

.para{
  font-size: 16px;
}
.btn{
  background-color: rgb(134, 130, 125);
}
img{
  width: 100%;
}
.btn:hover{
  background-color: white;
}
.heading{
  font-size: 20px;
  color:white;
  line-height: 1.3;
}
.carousel-caption{
  font-size: 15px;
  background-color: black;
  opacity: 0.6;
  max-width: 229px;
  max-height: 162px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 17px auto;
}

/* sticky  */
.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 0em 7em 0;
    border-radius: 50%;
    padding: .25em;
    width: 80px;
    height: 80px;
    overflow: hidden;
    visibility: visible;
    
}
  .top-link.show {
    visibility: visible;
    opacity: 1;
  }
  
  .top-link.hide {
    visibility: hidden;
    opacity: 0;
  }

    svg {
        fill: #000;
        width: 24px;
        height: 12px;
    }
    svg {
            fill: #000000;
        }
  
.icon-first{
  letter-spacing: 9px;
}

.cart-icon{
  font-size: 26px;
  margin-top: 10px;
  /* position:absolute;
  float: left;
  margin-left: -9%; */
}

.cart-icon:hover{
  color: darkolivegreen;
}



@media screen and (max-width:768px){
  #link-12-77{
    margin-left: 317px;
    position: relative;
  }
  .cart-icon{
    position:absolute;
    float: left;
    margin-left: -5%;
  }
}

@media screen and (max-width:449px){
  #link-12-77{
    margin-left: 132px;
    position: relative;
  }

  .cart-icon{
    position:absolute;
    float: left;
    margin-left: -11%;
  }
}
@media screen and (max-width:320px){
  #link-12-77{
    margin-left: 99px;
    position: relative;
  }
}

/* @media screen and (min-width:414px){
  #link-12-77{
    margin-left: 140px;
    position: relative;
  }
} */


@media screen and (max-width:320px){
  .cart-icon{
    position:absolute;
    float: left;
    margin-left: -15%;
  }
}

