#section-116-77 > .ct-section-inner-wrap {
  padding-top: 32px;
  padding-bottom: 16px;
}
#section-116-77 {
  font-size: 14px;
  background-color: #ededed;
  letter-spacing: 0.2px;
}
#div_block-221-77 {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  margin-top: 8px;
  width: 100%;
}
#div_block-122-77 {
  flex-direction: column;
  display: flex;
  text-align: left;
}
#div_block-167-77 {
  text-align: left;
  flex-direction: row;
  display: flex;
  margin-top: 12px;
}
#div_block-295-77 {
  width: 33.33%;
}
#div_block-296-77 {
  width: 33.33%;
}
#div_block-297-77 {
  width: 33.34%;
}
#div_block-158-77 {
  width: 50%;
  justify-content: center;
}
#div_block-160-77 {
  width: 50%;
  justify-content: center;
  text-align: left;
  align-items: flex-end;
}
@media (max-width: 991px) {
  #div_block-133-77 {
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  #div_block-122-77 {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  #div_block-133-77 {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  #div_block-221-77 {
    width: 72%;
  }
}
@media (max-width: 767px) {
  #div_block-158-77 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  #div_block-160-77 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  #new_columns-117-77 > .ct-div-block {
    width: 100% !important;
  }
  #new_columns-117-77 {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  #new_columns-293-77 > .ct-div-block {
    width: 100% !important;
  }
}
#new_columns-293-77 {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
@media (max-width: 767px) {
  #new_columns-157-77 > .ct-div-block {
    width: 100% !important;
  }
  #new_columns-157-77 {
    flex-direction: column;
  }
}
#headline-244-77 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  margin-top: 32px;
}
#text_block-134-77 {
  font-weight: 500;
}
#text_block-233-77 {
  font-weight: 500;
  margin-top: 32px;
}
#text_block-121-77 {
  color: #269b52;
  text-align: left;
  padding-top: 8px;
  font-family: "Muli";
}
#text_block-298-77 {
  font-weight: 500;
}
#text_block-305-77 {
  font-weight: 500;
}
#text_block-307-77 {
  font-weight: 500;
}
#text_block-159-77 {
  font-size: 10px;
}
#_rich_text-302-77 {
  width: 100%;
  color: #717071;
  font-size: 13px;
}
#_rich_text-156-77 {
  width: 100%;
  color: #717071;
  font-size: 13px;
}
#_rich_text-301-77 {
  width: 100%;
  color: #717071;
  font-size: 13px;
}
#link-12-77 {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  text-align: center;
  flex-wrap: nowrap;
  max-width: 96px;
}
#link-135-77 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#link-140-77 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#link-143-77 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#link-148-77 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#link-308-77 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 1px;
}
#link-151-77 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#link-119-77 {
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: flex-start;
  margin-top: 4vh;
}
#div_block-311-77 {
  position: fixed;
  bottom: 32px;
  right: 32px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #25d366;
  z-index: 1100;
  flex-direction: unset;
  box-shadow: 2px 2px 4px 2px #126933;
}
@media (max-width: 767px) {
  #div_block-311-77 {
    flex-direction: unset;
    display: none;
  }
}
#image-259-77 {
  width: 72px;
}
#image-261-77 {
  width: 144px;
}
#image-120-77 {
  width: 72px;
}
#fancy_icon-136-77 > svg {
  width: 20px;
  height: 20px;
}
#fancy_icon-141-77 > svg {
  width: 20px;
  height: 20px;
}
#fancy_icon-144-77 > svg {
  width: 20px;
  height: 20px;
}
#fancy_icon-149-77 > svg {
  width: 20px;
  height: 20px;
}
#fancy_icon-309-77 > svg {
  width: 20px;
  height: 20px;
}
#fancy_icon-152-77 > svg {
  width: 20px;
  height: 20px;
}
#fancy_icon-312-77 {
  background-color: #25d366;
  border: 1px solid #25d366;
  padding: 8px;
  color: #ededed;
}
#fancy_icon-312-77 > svg {
  width: 40px;
  height: 40px;
}
#_nav_menu-253-77 .oxy-nav-menu-hamburger-line {
  background-color: #000000;
}
#_nav_menu-253-77.oxy-nav-menu.oxy-nav-menu-open {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
#_nav_menu-253-77.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
  padding-left: 8px;
  padding-right: 8px;
}
#_nav_menu-253-77 .oxy-nav-menu-hamburger-wrap {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#_nav_menu-253-77 .oxy-nav-menu-hamburger {
  width: 40px;
  height: 32px;
}
#_nav_menu-253-77 .oxy-nav-menu-hamburger-line {
  height: 6px;
}
#_nav_menu-253-77.oxy-nav-menu-open
  .oxy-nav-menu-hamburger
  .oxy-nav-menu-hamburger-line:first-child {
  top: 13px;
}
#_nav_menu-253-77.oxy-nav-menu-open
  .oxy-nav-menu-hamburger
  .oxy-nav-menu-hamburger-line:last-child {
  top: -13px;
}
#_nav_menu-253-77 .oxy-nav-menu-list {
  flex-direction: row;
}
#_nav_menu-253-77 .menu-item a {
  padding-right: 8px;
  padding-left: 8px;
  color: #000000;
}
#_nav_menu-253-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {
  background-color: rgba(0, 0, 0, 0);
}
#_nav_menu-253-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
  border: 0;
}
#_nav_menu-253-77 .menu-item:hover a {
  background-color: rgba(0, 0, 0, 0);
  color: #717071;
}
#_nav_menu-253-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu:hover {
  background-color: rgba(0, 0, 0, 0);
}
#_nav_menu-253-77.oxy-nav-menu:not(.oxy-nav-menu-open)
  .sub-menu
  .menu-item
  a:hover {
  border: 0;
}
#_nav_menu-13-77 .oxy-nav-menu-hamburger-line {
  background-color: #000000;
}
@media (max-width: 991px) {
  #_nav_menu-13-77 .oxy-nav-menu-list {
    display: none;
  }
  #_nav_menu-13-77 .oxy-menu-toggle {
    display: initial;
  }
  #_nav_menu-13-77.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
    display: initial;
  }
}
#_nav_menu-13-77.oxy-nav-menu.oxy-nav-menu-open {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
 
}
#_nav_menu-13-77.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  
}
#_nav_menu-13-77 .oxy-nav-menu-hamburger-wrap {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#_nav_menu-13-77 .oxy-nav-menu-hamburger {
  width: 24px;
  height: 19px;
}
#_nav_menu-13-77 .oxy-nav-menu-hamburger-line {
  height: 3px;
}
#_nav_menu-13-77.oxy-nav-menu-open
  .oxy-nav-menu-hamburger
  .oxy-nav-menu-hamburger-line:first-child {
  top: 8px;
}
#_nav_menu-13-77.oxy-nav-menu-open
  .oxy-nav-menu-hamburger
  .oxy-nav-menu-hamburger-line:last-child {
  top: -8px;
}
#_nav_menu-13-77 .menu-item > .sub-menu {
  transition-duration: 0.3s;
}
#_nav_menu-13-77 {
  border-bottom-color: #ffffff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 100%;
  font-size: 14px;
  transition-duration: 0.3s;
}
#_nav_menu-13-77 .oxy-nav-menu-list {
  flex-direction: row;
}
#_nav_menu-13-77 .menu-item a {
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.3s;
  color: #000000;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
#_nav_menu-13-77 .current-menu-item a {
  padding-bottom: 8px;
  border-bottom-width: 0px;
  color: #717071;
}
#_nav_menu-13-77.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a {
  justify-content: center;
}
#_nav_menu-13-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #717071;
  padding-left: 4px;
}
#_nav_menu-13-77.oxy-nav-menu:not(.oxy-nav-menu-open)
  .oxy-nav-menu-list
  .sub-menu
  .menu-item
  a:hover {
  padding-left: 4px;
}
#_nav_menu-13-77 .menu-item:hover a {
  padding-bottom: 8px;
  border-bottom-width: 0px;
}
#_nav_menu-13-77.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a:hover {
  justify-content: center;
}
#_nav_menu-13-77.oxy-nav-menu:not(.oxy-nav-menu-open)
  .sub-menu
  .menu-item
  a:hover {
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
#_nav_menu-251-77.oxy-nav-menu.oxy-nav-menu-open {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
#_nav_menu-251-77.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
}
#_nav_menu-251-77 .oxy-nav-menu-hamburger-wrap {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#_nav_menu-251-77 .oxy-nav-menu-hamburger {
  width: 40px;
  height: 32px;
}
#_nav_menu-251-77 .oxy-nav-menu-hamburger-line {
  height: 6px;
}
#_nav_menu-251-77.oxy-nav-menu-open
  .oxy-nav-menu-hamburger
  .oxy-nav-menu-hamburger-line:first-child {
  top: 13px;
}
#_nav_menu-251-77.oxy-nav-menu-open
  .oxy-nav-menu-hamburger
  .oxy-nav-menu-hamburger-line:last-child {
  top: -13px;
}
#_nav_menu-251-77 .menu-item > .sub-menu {
  transition-duration: 0.3s;
}
#_nav_menu-251-77 {
  margin-top: 12px;
  flex-direction: unset;
}
#_nav_menu-251-77 .oxy-nav-menu-list {
  flex-direction: column;
}
#_nav_menu-251-77 .menu-item a {
  transition-duration: 0.3s;
  margin-bottom: 16px;
}
#_nav_menu-251-77 .current-menu-item a {
  color: #717071;
  background-color: rgba(0, 0, 0, 0);
}
#_nav_menu-251-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {
  background-color: rgba(0, 0, 0, 0);
}
#_nav_menu-251-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
  border: 0;
  padding-left: px;
  padding-right: px;
}
#_nav_menu-251-77 .menu-item:hover a {
  background-color: rgba(0, 0, 0, 0);
  color: #717071;
}
#_nav_menu-251-77.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu:hover {
  background-color: rgba(0, 0, 0, 0);
}
#_nav_menu-251-77.oxy-nav-menu:not(.oxy-nav-menu-open)
  .sub-menu
  .menu-item
  a:hover {
  border: 0;
  padding-left: px;
  padding-right: px;
}
@media (max-width: 479px) {
  #_nav_menu-253-77 {
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: unset;
    display: none;
  }
  #_nav_menu-253-77.oxy-nav-menu:not(.oxy-nav-menu-open)
    .sub-menu
    .menu-item
    a {
    border: 0;
  }
}
#_header-2-77 .oxy-nav-menu-open,
#_header-2-77 .oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {
  background-color: #ffffff;
}

  #_header-2-77.oxy-header-wrapper.oxy-header.oxy-sticky-header.oxy-sticky-header-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  #_header-2-77.oxy-header.oxy-sticky-header-active .oxygen-hide-in-sticky {
    display: none;
  }
  #_header-2-77.oxy-header.oxy-header .oxygen-show-in-sticky-only {
    display: none;
  }

#_header-2-77 {
  sticky-background-color: #ffffff;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14vh;
}
@media (max-width: 767px) {
  #_header-2-77 {
    flex-direction: column;
    display: flex;
    min-height: 8vh;
    justify-content: flex-start;
  }
}
@media (max-width: 479px) {
  #_header-2-77 {
    min-height: 18vh;
  }
}
@media (max-width: 479px) {
  #_header_row-3-77 .oxy-header-container {
    flex-direction: column;
  }
  #_header_row-3-77 .oxy-header-container > div {
    justify-content: center;
  }
}
.oxy-header.oxy-sticky-header-active
  > #_header_row-3-77.oxygen-show-in-sticky-only {
  display: block;
}
#_header_row-3-77 {
  font-size: 12px;
  margin-top: 1vh;
  letter-spacing: 0.25px;
}
.oxy-header.oxy-sticky-header-active
  > #_header_row-7-77.oxygen-show-in-sticky-only {
  display: block;
}
#_header_row-7-77 {
  letter-spacing: 0.5px;
  margin-bottom: 2vh;
}
@media (max-width: 767px) {
  .oxy-header.oxy-sticky-header-active
    > #_header_row-3-77.oxygen-show-in-sticky-only {
    display: block;
  }
  #_header_row-3-77 {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .oxy-header.oxy-sticky-header-active
    > #_header_row-7-77.oxygen-show-in-sticky-only {
    display: block;
  }
  #_header_row-7-77 {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
}
#widget-155-77 {
  paramsbase64: auto;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: unset;
  width: auto;
}
